.root {
    -fx-background-color: #f4f4f4;
}

.label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
}

.text-area {
    -fx-font-size: 16px;
    -fx-padding: 0;
    -fx-height : 30px;
    -fx-pref-height: 100px;
    -fx-pref-width: 400px;
    -fx-border-color : black;
    -fx-background-color: white;

}

.button {
    -fx-background-color: #190E4F;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 8px 16px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.button:focused{
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 5, 0.5, 0, 0);
}
.button:hover {
    -fx-background-color: #0056b3;
}

.combo-box {
    -fx-font-size: 14px;
    -fx-padding: 5px;
}

.progress-indicator {
    -fx-scale-x: 0.7;
    -fx-scale-y: 0.7;
}
